.lightbox-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  
  .lightbox-main-image {
    width: 100%;
    height: 40vh;
  }
  
  #lightbox-thumbnails {
    display: none;
  }
  
  .lightbox-txt {
    display: block;
    gap: 0.5em;
    padding: 1.5em;
  }
  
  .lightbox-txt-title {
    color: rgb(242, 140, 40);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .lightbox-txt-fall {
    padding-top: 0.5em;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    max-width: 35em;
  }
  
  .lightbox-txt-desc {
    color: hsl(219, 9%, 45%);
    font-size: 0.9em;
    line-height: 1.5em;
  }
  
  .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .prices-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 5em;
  }
  
  .price {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .price-off {
    margin: 1em 1em;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(242, 140, 40);
    background-color: rgb(255, 245, 238);
    padding: 0.25em 0.4em;
    border-radius: 5px;
  }
  
  .price-before {
    font-weight: bold;
    font-size: 0.9em;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
  }
  
  .button-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.8em;
  }
  
  .item-count {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: hsl(223, 64%, 98%);
    padding: 1em;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
  }
  
  .item-quantity {
    font-weight: bold;
  }
  
  .add-to-cart {
    border: none;
    box-shadow: 0 4px 8px 0 rgb(242, 140, 40);
    transition: 0.3s;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    align-items: center;
    padding: 1em;
  }
  
  .add-to-cart:hover {
    opacity: 0.7;
    box-shadow: none;
    cursor: pointer;
  }
  
  .add-to-cart span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }
  
  .cart-icon {
    fill: #fff;
  }
  
  #lightboxModal {
    display: none;
  }
  
  @media only screen and (min-width: 1024px) {
    .lightbox-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5em;
        gap: 5em;
        max-width: 1600px;
        margin: 3em auto;
    }
    .lightbox-images {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .lightbox-main-image {
        max-width: 25em;
        border-radius: 10px;
        height: auto;
    }
    .lightbox-main-image:hover {
        cursor: pointer;
    }
    #lightbox-thumbnails {
        display: flex;
        gap: 1.7em;
        width: 25em;
    }
    .lightbox-thumbnails-img {
        width: 5em;
        border-radius: 10px;
        transition: 0.3s;
    }
    .lightbox-thumbnails-img:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    .active {
        opacity: 0.3;
    }
    .thumbnail-div {
        outline: 2px solid hsl(26, 100%, 55%);
        border-radius: 10px;
        height: 5em;
    }
    .lightbox-txt {
        display: flex;
        flex-direction: column;
        width: 27%;
        margin-top: 3em;
    }
    .lightbox-txt-title {
        color: rgb(242, 140, 40);
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: -1.5em;
    }
    .lightbox-txt-fall {
        margin-top: -0.3em;
        font-size: 2.5em;
        font-weight: bold;
        max-width: 35em;
    }
    .lightbox-txt-desc {
        color: hsl(219, 9%, 45%);
        font-size: 0.9em;
        line-height: 1.5em;
    }
    .prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .prices-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-width: 5em;
        margin-top: -0.5em;
    }
    .price {
        font-weight: bold;
        font-size: 1.7em;
    }
    .price-off {
        margin: 1em 1em;
        font-size: 0.9em;
        font-weight: bold;
        color: rgb(242, 140, 40);
        background-color: rgb(255, 245, 238);
        padding: 0.25em 0.4em;
        border-radius: 5px;
        width: 2em;
    }
    .price-before {
        display: block;
        font-weight: bold;
        font-size: 0.9em;
        color: hsl(220, 14%, 75%);
        text-decoration: line-through;
        margin-top: -0em;
    }
    .button-items {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-top: 0.8em;
    }
    .item-count {
        display: flex;
        flex-direction: row;
        gap: 2.5em;
        width: 7em;
        background-color: hsl(223, 64%, 98%);
        padding: 1em;
        border-radius: 10px;
        font-weight: bold;
    }
    .item-count img:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    .add-to-cart {
        border: none;
        box-shadow: 0 4px 8px 0 rgb(242, 140, 40);
        transition: 0.3s;
        background-color: hsl(26, 100%, 55%);
        color: hsl(0, 0%, 100%);
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.9em;
        align-items: center;
        padding: 1em 0em;
    }
    .add-to-cart:hover {
        opacity: 0.7;
        box-shadow: none;
        cursor: pointer;
    }
    .add-to-cart span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
    }
    .cart-icon {
        fill: #fff;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.85);
        align-items: center;
    }
    .modal-content {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.3em;
        width: 32em;
    }
    .close {
        cursor: pointer;
        margin-left: 96%;
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;
    }
    .close:hover {
        color: hsl(26, 100%, 55%);
    }
    .main-modal {
        display: flex;
        flex-direction: row;
    }
    .slide-images {
        width: 32em;
        border-radius: 10px;
    }
    .main-modal-icon {
        padding: 0.5em 0.8em 0.5em 0.7em;
        background-color: white;
        border-radius: 48%;
        cursor: pointer;
        font-size: 1.3em;
    }
    .prev {
        margin-right: -1em;
        margin-top: 38.5%;
        z-index: 1;
    }
    .next {
        margin-left: -1em;
        margin-top: 38.5%;
        z-index: 1;
    }
    .main-modal-icon:hover {
        color: hsl(26, 100%, 55%);
    }
    #modal-lightbox-thumbnails {
        display: flex;
        gap: 1.7em;
        width: 25em;
    }
    .modal-thumbnails-img {
        width: 5em;
        border-radius: 10px;
        transition: 0.3s;
    }
    .modal-thumbnails-img:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    #product1-span,
    #product2-span,
    #product3-span,
    #product4-span {
        height: 5em;
    }
    #product1-span:hover,
    #product2-span:hover,
    #product3-span,
    #product4-span {
        background-color: white;
        border-radius: 10px;
    }
    .modal-active {
        color: white;
        opacity: 0.5;
    }
    .modal-thumbnail-div {
        outline: 2px solid hsl(26, 100%, 55%);
        background-color: white;
        border-radius: 10px;
        height: 5em;
    }
  }